<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var(--wp--preset--spacing--50)","bottom":"var(--wp--preset--spacing--50)","left":"var(--wp--preset--spacing--40)","right":"var(--wp--preset--spacing--40)"}}},"anchor":"primary"} -->
<main class="wp-block-group" id="primary" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-title {"level":1,"fontSize":"3xl"} /-->

<!-- wp:group {"layout":{"type":"constrained"},"style":{"spacing":{"margin":{"top":"1.5rem","bottom":"1.5rem"}}}} -->
<div class="wp-block-group" style="margin-top:1.5rem;margin-bottom:1.5rem"><!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"flex-start"},"style":{"spacing":{"blockGap":"1.5rem"}}} -->
<div class="wp-block-group"><!-- wp:post-date {"textColor":"text","fontSize":"sm"} /-->

<!-- wp:post-author {"showAvatar":false,"fontSize":"sm"} /-->

<!-- wp:post-terms {"term":"category","fontSize":"sm"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"2rem"}}}} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:comments -->
<div class="wp-block-comments"><!-- wp:comments-title {"level":3} /-->

<!-- wp:comment-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"64px"} -->
<div class="wp-block-column" style="flex-basis:64px"><!-- wp:avatar {"size":48,"style":{"border":{"radius":"999px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"sm"} /-->

<!-- wp:comment-date {"fontSize":"xs"} /-->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"fontSize":"xs"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
